{% extends 'base.html' %}
{% block title %}


    Delete {{ pets.announce_title }} {{ pets.another_label_description }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 align-items-center">
                <div class="card">
                    <div class="card-body">
                        <h4>Do you want to delete the pet {{ pets.announce_title }} {{ pets.animal_name }} {{ pets.animal_label }} ?</h4>
                    </div>
                    <div class="card-footer text-center">
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger">Yes</button>
                            <a href="{% url 'pets_list' %}" class="btn btn-outline-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}