{% extends 'base.html' %}
{% block title %}
    Details
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-8">
                <div class="card-text-center">
                    <h3>Do you want to help?</h3>
                    <br>
                    <p > Ghemotoc cu blana is an independent initiative to promote adoptions started in 2022.</p>
                    <p>Although we have never asked to receive donations to support our work, we have enjoyed enough
                            visibility so that we can say today, without harming anyone's pride, that our website was and still is a visible channel for promoting adoptions in the online environment.</p>
                    <p>All these things and many more were possible thanks to the volunteers, the kind-hearted people who photographed no one's puppies, put an ad on the site and promoted it along with all the other puppies on the site.</p>
                    <br>
                    <h3>How can you help?</h3>
                    <br>
                    <p>If you came here trying to find a way to help us in the adoption promotion mission, here's how you can do it:</p>
                    <p>1. Follow our Facebook page and occasionally distribute a pet on your page.</p>
                    <p>2. Don't pass by the stray pets, visit the shelters and add a pet.</p>
                    <p>3. If you have a website or blog, use our link to promote adoptions on your site.</p>

                    <p>We thank you!</p>
                    <br>
                    <a href="{% url 'pets_list' %}" class="btn btn-outline-secondary">Back</a>
                </div>
                </div>
                </div>
                </div>
{% endblock %}