{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% if all_requests %}
                {% for requests in all_requests %}
                    <div class="col-4 mt-3">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="text-center">Request date : {{ requests.date_time_of_the_apllicant|date:"d-m-Y" }}</h6>
                                <h4 class="text-center">{{ requests.name_of_the_apllicant }}</h4>
                            </div>
                            <div class="card-body">
                            <div class="col-12"><h4 class="text-center">{{ requests.description_of_the_apllicant|truncatechars:44 }}</h4></div>
                            </div>
                            <div class="card-footer">
                                <h6>{{ requests.city_of_the_apllicant }}</h6>
                                <h6>{{ requests.phone_number_of_the_apllicant }}</h6>
                                <a class="nav-link" href="{% url 'details_of_adoptionrequest' requests.id %}"><h6>Details</h6></a>
                                {% if requests.poster == requests.user %}
                                <a class="nav-link" href="{% url 'update_adoptionrequest' requests.id %}">Update</a>
                                <a class="nav-link" href="{% url 'delete_adoptionrequest' requests.id %}">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %} <h3 class="text-center">No data available</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}